<ul class="nav nav-tabs" id="tabUnderlords" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="ranking-tab" data-toggle="tab" href="#contentRanking" role="tab" aria-controls="contentRanking" aria-selected="true">Ranking</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="player-tab" data-toggle="tab" href="#contentPlayer" role="tab" aria-controls="contentPlayer" aria-selected="false">Player</a>
    </li>
</ul>