@model eProductOnWeb.Models.Underlords.Ranking

<div class="tab-pane fade show active" id="contentRanking" role="tabpanel">
    <div class="card-body">
        <h1>Week Ranking</h1>
        <br />
        @foreach (var item in Model.WeekInformation.OrderBy(x => x.DayOfWeek))
        {
            @Html.Label(item.Day)
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Rating
                        </th>
                        <th>
                            Point
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rankingProfile in item.DayInformation.OrderByDescending(x => x.Point))
                    {
                        <tr>
                            <td>
                                @rankingProfile.UserName
                            </td>
                            <td>
                                @rankingProfile.Rating
                            </td>
                            <td>
                                @rankingProfile.Point
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

