@model eProductOnWeb.Models.Underlords.Ranking

@{
    ViewData["Title"] = "Underlords Ranking";
}

<partial name="_navTabs" />
<div class="tab-content" id="tabContentUnderlords">
    <partial name="_playerRankingTable" model="@Model"/>
    <partial name="_weekRankingTable" model="@Model" />
    <div class="tab-pane fade" id="contentPlayer" role="tabpanel">
        <p>
            <div class="card card-body">Player</div>
        </p>
    </div>
</div>